/*General tags style*/
h1
{
	color:#EBEBEB;
}

h3
{	
	color:#EBEBEB;
}

p
{
	color:#EBEBEB;
	font-weight:600;
	letter-spacing:2px;
	word-spacing:5px;

	/*Borders*/
	padding:10px; 
	border:5px solid #5FB49C;
}

a
{
	color:#98DFAF;
	letter-spacing:2px;
	word-spacing:5px;
}

/*Elements*/
#pablo-corbalan-div
{
	padding:10px;
}

}
#pablo-corbalan
{
	font-weight:800;
	padding:10px;
}

#description-of-myself
{
	color:#DEEFB7;
	letter-spacing:3px;
	word-spacing:6px;
}

/*Class*/
.intro-title
{
	color:#5FB49C;
	letter-spacing:3px;
	word-spacing:6px;
}

body
{
	background-color:rgba(39, 48, 67, 0.91);
}
