body
{
	background-color:rgba(39, 48, 67, 0.91);
}

/*General tags style*/
h1
{
	color:#EBEBEB;
}

h3
{	
	color:#EBEBEB;
}

p
{
	color:#EBEBEB;
	font-weight:500;
	letter-spacing:2px;
	word-spacing:5px;

}

a
{
	color:#98DFAF;
	letter-spacing:2px;
	word-spacing:5px;
}

/*Elements*/
#pablo-corbalan
{
	font-weight:600;
}

#description-of-myself
{
	color:#DEEFB7;
}

/*Class*/
.intro-title
{
	color:#5FB49C;
}