{% extends "main.html" %}

{% block content %}
<section data-description="@pablocorbcon">
  <div class="wrapper">
     <span class="open-sans tera ls-xlarge bold">Pablo Corbalán</span><br>
     <span class="epsilon ls-medium">Python developer at Murcia, Spain.</span>
     <br><br><br><br><br>
     <a class="button-text" href="/contact">Contact</a>
  </div>
  </section>
  <section data-description="contact">
  	<form action="mailto:corbalandeconpablo@gmail.com" method="POST" enctype="multipart/form-data" name=”EmailForm”>
		Name:<br><input type=”text” size=”19″ name=”ContactName”>
		<br><br>
		Message:<br><textarea name=”ContactCommentt” rows=”6″ cols=”20″></textarea>
		<br><br> 
		<input type=”submit” value=”Submit”> 
	</form>
  </section>
{% endblock content %}