<!DOCTYPE html>
<html lang="en/EN">
	<head>
		<!--meta tags-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--add the style tags-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<!--create the title depending in a subtitle-->
		{% if title %}
		<title>Pablo Corbalán - {{ title }}</title>
		{% else %}
		<title>Pablo Corbalán</title>
		{% endif %}

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	    
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand">Navbar</a>
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</nav>
		<div class="container-block">
			{% block container %}
			{% endblock %}
		</div>
	</body>
</html>