<!DOCTYPE html>
<html lang="en">
	<head>
		<!--meta tags-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!--create the title depending in a subtitle-->
		{% if title %}
		<title>pablocorbcon - {{ title }}</title>
		{% else %}
		<title>pablocorbcon</title>
		{% endif %}

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	    
	</head>
	<body>
		<div class="site-menu">
			<nav class="site-menu-navigation-bar">
				<div class="site-menu-navigation-bar-image-left">
					
				</div>
				<div class="site-menu-navigation-bar-links">
					
				</div>
			</nav>
		</div>
		<div class="container-block">
			{% block container %}
			{% endblock %}
		</div>
	</body>
</html>