{% extends "layout.html" %}

	{% block typeofstyle %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	{% endblock typeofstyle %}

	{% block container %}
		<!--banner-->
		<div>
			<section class="banner">
				<h1>Pablo Corbalán</h1>
				<p>Python developer</p>
				<a class="round-button">Contact me</a>
			</section>
		<!--cards-->
		{% for project in projects %}
			<div class="card">
				<div class="container">
					<div class="card-bg"></div>
			   		<h4 class="card-b-text"><b>{{ project.title }}</b></h4>
			   		<p class="card-subtext">{{ project.short_description }}</p>
			  	</div>
			</div>
		{% endfor %}
	{% endblock container %}