<!DOCTYPE html>
<html lang="en">
<head>
	<!--meta tags-->
	<meta charset="UTF-8">
	<title>pablocorbcon</title>
	<!--style-->
	<link rel="stylesheet" type="text/css" href="style/maincss.css">
</head>
<body>
	<!--menu -->
	<!--banner-->
	<div>
		<section class="banner">

			<h1>Pablo Corbalán</h1>
			<p>Python developer</p>
			<a class="round-button">Contact me</a>
		</section>
	</div>
	<!--paragraph-->
	<div class="main-text">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam distinctio dolor et, perspiciatis possimus reprehenderit culpa illo commodi, harum adipisci delectus cum non, iste in qui nihil earum nesciunt tempora.
		<p>		
	</div>
	<!--cards-->
	<div>
		<h3 align="center" id = "best-projects-title">Best projects</h3>
		<div class="card">
	  		<div class="card-project-bg"></div>
	  		<div class="container">
	    		<h4 class="card-b-text"><b>project 1</b></h4>
	    		<p class="card-subtext">Architect & Engineer</p>
	  		</div>
		</div>
	</div>
</body>
</html>